*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#081018;
color:white;
overflow-x:hidden;
}

.cursor-glow{
position:fixed;
width:350px;
height:350px;
background:rgba(0,255,180,.15);
border-radius:50%;
pointer-events:none;
transform:translate(-50%,-50%);
filter:blur(90px);
z-index:-1;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
position:fixed;
width:100%;
background:rgba(8,16,24,.8);
backdrop-filter:blur(20px);
z-index:999;
}

.logo{
font-size:24px;
font-weight:700;
color:#00ffb3;
}

nav ul{
display:flex;
gap:25px;
list-style:none;
}

nav a{
text-decoration:none;
color:white;
}

.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
padding:0 20px;
}

.hero h1{
font-size:4rem;
margin-bottom:15px;
}

.hero h2{
color:#00ffb3;
height:50px;
}

.hero-desc{
max-width:700px;
margin:auto;
opacity:.8;
line-height:1.8;
}

.hero-buttons{
margin-top:30px;
}

.btn{
padding:14px 30px;
text-decoration:none;
border-radius:50px;
margin:10px;
display:inline-block;
}

.primary{
background:#00ffb3;
color:black;
font-weight:600;
}

.secondary{
border:1px solid #00ffb3;
color:#00ffb3;
}

.section{
padding:120px 10%;
}

.section h2{
font-size:2.5rem;
margin-bottom:50px;
text-align:center;
}

.card{
background:#101a24;
padding:40px;
border-radius:20px;
border:1px solid rgba(255,255,255,.05);
}

.timeline-item{
background:#101a24;
padding:30px;
border-left:4px solid #00ffb3;
}

.timeline-item span{
color:#00ffb3;
}

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
}

.skill-card{
background:#101a24;
padding:25px;
border-radius:15px;
text-align:center;
transition:.3s;
}

.skill-card:hover{
transform:translateY(-10px);
background:#00ffb3;
color:black;
}

.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:25px;
}

.project-card{
background:#101a24;
padding:30px;
border-radius:20px;
transition:.4s;
}

.project-card:hover{
transform:translateY(-10px);
border:1px solid #00ffb3;
}

.center{
text-align:center;
}

footer{
padding:40px;
text-align:center;
opacity:.7;
}

.hidden{
opacity:0;
transform:translateY(60px);
transition:1s;
}

.show{
opacity:1;
transform:translateY(0);
}

@media(max-width:768px){

.hero h1{
font-size:2.5rem;
}

nav ul{
display:none;
}

.section{
padding:90px 20px;
}

}
